button {
	border-radius: 12px;
	padding: 5px 10px;
	font-size: 20px;
	background-color: #eeff00;
	border: 2px solid #eeff00;
	transition-duration: 0.4s;
	width: 30%
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #eeff00;
	color: #000000;
	width: 31%;
}

button.large {
	width: 75%;
}

button.large:hover {
	width: 76%;
}
