#copyright {
    text-align: center;
}

body {
    background-color: grey;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    margin: 0px;
}

.footer {
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: fixed;
    bottom: 0px;
    padding-top: 1%;
    padding-bottom: 0.4%;
    color: white;
}

.footer a {
    color: white;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projects {
    background-color:rgb(70, 70, 70);
    min-width: 100%;
    min-height: 20%;
}

.project {
    background-color: white;
}

.project .title {
    text-align: center;
}